.search {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
}

.fa-search {
  position: relative;
  top: -36px;
  float: right;
  font-size: 1.5em;
  right: 30px;
}

.card {
  border: none;
  margin-top: 3px;
}
